# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/

# Virtual environments
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# NLTK data
nltk_data/

# Logs
output/main_logging/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
